Der
Hauptgang
war
in
Ordnung
,
aber
alles
andere
als
umwerfend
.

Ich
habe
dort
2007
meinen
OWD
gemacht
und
weil
mir
das
Tauchen
so
gefiel
hab
ich
dort
noch
im
selben
Jahr
den
AOWD
und
den
Deep
drangehängt
.

Ist
ja
wohl
ein
Witz
.

"
Bitte
Termin
im
Internet
machen
.
"

"
Welcher
Kollege
hat
Ihnen
denn
99
gesagt
?
"

(
Bei
den
Damen
und
Herren
des
besagten
Mobilfunkanbieters
bin
ich
im
Gegensatz
dazu
bisher
ausschließlich
auf
arrogante
Unkenntnis
gestossen
)
.

(
Der
Shop
Thomann
ist
noch
sehr
vielversprechender
!
)

10
Euro
günstiger
selbst
hätte
kaufen
können
.

17.45
Uhr
hatte
ich
bestellt
.

Aber
mal
abwarten
,
was
sich
in
näherer
Zukunft
abspielt
....

Aber
über
die
Freundlichkeit
,
Zuverlässlichkeit
und
Komptenz
des
gesamten
Team
kann
man
nur
eines
Sagen
--
PEFERKTION

Absolut
empfehlenswert
ist
auch
der
Service
.

Alle
am
Wort
Gottes
interessierte
Personen
sind
herzlich
eingelanden
,
Gottesdienst
mit
Liedern
,
Gebeten
und
Predigten
mit
den
Mitgliedern
zu
feiern
.

Alles
in
Allem
ein
super
Erlebnis
.

Als
ich
mit
meiner
Frau
und
meiner
Tante
im
Oktober
